pipeline/pipe_copy_files_landing.json
{
	"name": "pipe_copy_files_landing",
	"properties": {
		"activities": [
			{
				"name": "read_files_metadata",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "set_variable_p_folder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						}
					},
					"dataset": {
						"referenceName": "ds_dls_xlsx_generic",
						"type": "DatasetReference",
						"parameters": {
							"container": "configs",
							"sheet_name": "sheet1",
							"file_name": "file_metadata.xlsx"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "filter_actives",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('filter_actives').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "copy_http_to_landing",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_http_source",
									"type": "DatasetReference",
									"parameters": {
										"folder": {
											"value": "@variables('p_folder')",
											"type": "Expression"
										},
										"file_name": {
											"value": "@item().file_name",
											"type": "Expression"
										},
										"file_extension": ".zip"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_dls_binary_generic",
									"type": "DatasetReference",
									"parameters": {
										"container": "landing"
									}
								}
							]
						},
						{
							"name": "unzip_files",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "copy_http_to_landing",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings",
										"compressionProperties": {
											"type": "ZipDeflateReadSettings"
										}
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"enableSkipIncompatibleRow": true,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_dls_unzip_csv",
									"type": "DatasetReference",
									"parameters": {
										"container": "landing",
										"folder": {
											"value": "@variables('p_folder')",
											"type": "Expression"
										},
										"file_name": {
											"value": "@concat(item().file_name, '.zip')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_dls_parquet",
									"type": "DatasetReference",
									"parameters": {
										"container": "bronze",
										"folder": {
											"value": "@variables('p_folder')",
											"type": "Expression"
										},
										"file_name": {
											"value": "@item().file_name",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "set_variable_p_folder",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "p_folder",
					"value": "2024-06"
				}
			},
			{
				"name": "filter_actives",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "read_files_metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('read_files_metadata').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().status,'active')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"p_folder": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-09-05T01:48:55Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}