pipeline/pipe_orchestrate_notebooks.json
{
	"name": "pipe_orchestrate_notebooks",
	"properties": {
		"activities": [
			{
				"name": "bronze_to_silver",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/laismeuchi@hotmail.com/dados-databricks-base-cnpj/bronze_to_silver/_executar_todos",
					"baseParameters": {
						"reference": {
							"value": "@variables('v_reference')",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_reference",
					"value": "2024-08"
				}
			},
			{
				"name": "gold_dimensoes_fixas",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "bronze_to_silver",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/laismeuchi@hotmail.com/dados-databricks-base-cnpj/gold/dimensoes_fixas",
					"baseParameters": {
						"reference": {
							"value": "@variables('v_reference')",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "fato_abertura_empresa",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "gold_dimensoes_fixas",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/laismeuchi@hotmail.com/dados-databricks-base-cnpj/gold/fato_abertura_empresa",
					"baseParameters": {
						"reference": {
							"value": "@variables('v_reference')",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "fato_abertura_mudanca_endereco",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "gold_dimensoes_fixas",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/laismeuchi@hotmail.com/dados-databricks-base-cnpj/gold/fato_mudanca_endereco",
					"baseParameters": {
						"reference": {
							"value": "@variables('v_reference')",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "fato_situacao_cadastral",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "gold_dimensoes_fixas",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/laismeuchi@hotmail.com/dados-databricks-base-cnpj/gold/fato_situacao_cadastral",
					"baseParameters": {
						"reference": {
							"value": "@variables('v_reference')",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks1",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"v_reference": {
				"type": "String"
			}
		},
		"annotations": []
	}
}